/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fbea02; /* Light gray background */
  color: #444; /* Dark gray text color */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f10808; /* White background */
}

header h1 {
  font-size: 2.5rem;
  color: #05ec47; /* Blue text color */
  text-align: center;
}

.intro-section, .features-section {
  margin-bottom: 30px;
}

.intro-section h2, .features-section h2 {
  font-size: 1.8rem;
  color: #e5ec26; /* Blue text color */
  margin-bottom: 10px;
}

.features-section ul {
  list-style-type: none;
}

.features-section li {
  margin-bottom: 8px;
}

.footer {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #de0707;
  background-color: #d008d7; /* Light gray background */
}
